<div class="p-card my-4 p-[2rem] border-md">
<ng-container *ngIf="isAdminPage && allowedAdminAccess || !isAdminPage">
  <p-table [value]="orders" dataKey="orderNumber" [tableStyle]="{ 'min-width': '60rem' }" class="min-w-full"
           (onRowExpand)="onRowExpand($event)" *ngIf="orders.length > 0">
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 5rem"></th>
        <th pSortableColumn="orderNumber"># Pedido
          <p-sortIcon field="orderNumber"></p-sortIcon>
        </th>
        <th>Total</th>
        <th *ngIf="isAdmin()">Responsável</th>
        <th>Nota do pedido</th>
        <th>Pagar a</th>
        <th>Quem pagou?</th>
        <th *ngIf="isAdmin()">Ações</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-order let-expanded="expanded">
      <tr>
        <td>
          <button type="button" pButton pRipple [pRowToggler]="order"
                  class="p-button-text p-button-rounded p-button-plain"
                  [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
        </td>
        <td>{{ order.orderNumber }}</td>
        <td>{{ order.orderPrice | currency: 'EUR' }}</td>
        <td *ngIf="isAdmin()">{{ order.responsibleName }}</td>
        <td>
          <ng-container *ngIf="order.orderNote; else noNote">
            {{ order.orderNote }}
          </ng-container>
          <ng-template #noNote>
            <p-tag [style]="{'background-color': 'gray', 'color': 'white'}">Sem nota</p-tag>
          </ng-template>
        </td>
        <td>
          <ng-container *ngIf="order.receiverName; else toDefine">
            {{ order.receiverName }}
          </ng-container>
          <ng-template #toDefine>
            A definir
          </ng-template>
        </td>
        <td>
          <ng-container *ngIf="order.payerName === 'NPY'; else notNPY">
            <p-tag severity="danger">Por pagar</p-tag>
          </ng-container>
          <ng-template #notNPY>
            <p-tag severity="success">{{order.payerName}}</p-tag>
          </ng-template>
        </td>

        <td *ngIf="isAdmin()">
          <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
                  (click)="editOrder(order)"></button>
        </td>
      </tr>
    </ng-template>
    
    <ng-template pTemplate="rowexpansion" let-order>
      <tr>
        <td colspan="6">
          <div class="p-3">
            <p-table [value]="orderItemsMap[order.id]" dataKey="item.id" *ngIf="orderItemsMap[order.id]">
              <ng-template pTemplate="header">
                <tr>
                  <th pSortableColumn="itemName">Item
                    <p-sortIcon field="itemName"></p-sortIcon>
                  </th>
                  <th pSortableColumn="itemBrandType">Tipo de Marca
                    <p-sortIcon field="itemBrandType"></p-sortIcon>
                  </th>
                  <th pSortableColumn="itemUnitsQuantity">Quantidade
                    <p-sortIcon field="itemUnitsQuantity"></p-sortIcon>
                  </th>
                  <th pSortableColumn="itemPrice">Preço
                    <p-sortIcon field="itemPrice"></p-sortIcon>
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-item>
                <tr>
                    <td>{{ item.itemName }}</td>
                    <td>
                        <ng-container *ngIf="item.itemBrandType === 'MARCA_BRANCA'; else originalBrand">
                            <p-tag [style]="{'background-color': 'gray', 'color': 'white'}">Marca Branca</p-tag>
                        </ng-container>
                        <ng-template #originalBrand>
                            <ng-container *ngIf="item.itemBrandType === 'ORIGINAL'; else otherBrand">
                                <p-tag [style]="{'background-color': 'mediumpurple', 'color': 'white'}">Marca Original</p-tag>
                            </ng-container>
                            <ng-template #otherBrand>
                                <!-- Handle other cases here if needed -->
                            </ng-template>
                        </ng-template>
                    </td>
                    <td>{{ item.itemUnitsQuantity }}</td>
                    <td>{{ item.itemPrice | currency: 'EUR' }}</td>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="4">Este pedido não tem itens.</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <ng-container *ngIf="isAdminPage">
    <p-paginator [rows]="10" [totalRecords]="orders.length" [rowsPerPageOptions]="[10, 25, 50]"></p-paginator>
  </ng-container>
</ng-container>
<p *ngIf="!allowedAdminAccess && isAdminPage">Ainda não tens acesso a estes dados.</p>


  <p *ngIf="orders.length === 0 && isAdminPage">Ainda não há pedidos.</p>
  <p *ngIf="orders.length === 0 && !isAdminPage">Faz o teu primeiro pedido :)</p>

  <p-dialog [(visible)]="orderDialog" [modal]="true" [draggable]="false" [closable]="false" header="Editar pedido" [modal]="true"
            [breakpoints]="{ '960px': '90vw' }" [style]="{ width: '60vw' }">
    <ng-template pTemplate="content">
      <div class="card">
        <p-table [value]="orderItemsMap[selectedOrder.id]" dataKey="itemName" editMode="row">
          <ng-template pTemplate="header">
            <tr>
              <th>Item</th>
              <th>Tipo de Marca</th>
              <th>Quantidade</th>
              <th>Preço</th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item let-editing="editing" let-rowIndex="rowIndex">
            <tr [pEditableRow]="item">
              <td>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input pInputText type="text" [(ngModel)]="item.itemName" required>
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{item.itemName}}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <p-dropdown
                      [options]="[{label: 'Marca Original', value: 'ORIGINAL'}, {label: 'Marca Branca', value: 'MARCA_BRANCA'}]"
                      appendTo="body" [(ngModel)]="item.itemBrandType"></p-dropdown>
                  </ng-template>
                <ng-template pTemplate="output">
                    <ng-container *ngIf="item.itemBrandType === 'ORIGINAL'; else otherBrand">
                        <p-tag [style]="{'background-color': 'mediumpurple', 'color': 'white'}">Marca Original</p-tag>
                    </ng-container>
                    <ng-template #otherBrand>
                        <p-tag [style]="{'background-color': 'gray', 'color': 'white'}">Marca Branca</p-tag>
                    </ng-template>
                </ng-template>
                </p-cellEditor>
              </td>
              <td>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                                        <span class="p-float-label">
                                            <p-inputNumber [(ngModel)]="item.itemUnitsQuantity" [showButtons]="true"
                                                           inputId="stacked" mode="decimal" [min]="1"></p-inputNumber>
                                        </span>
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{item.itemUnitsQuantity}}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <p-inputNumber [(ngModel)]="item.itemPrice" mode="currency" currency="EUR"
                                   locale="pt-PT"></p-inputNumber>
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{item.itemPrice | currency: 'EUR'}}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td>
                <div class="flex align-items-center justify-content-center gap-2">
                  <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
                          (click)="onRowEditInit(item)" class="p-button-rounded p-button-text"></button>
                  <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check"
                          (click)="onItemEditSave(item)"
                          class="p-button-rounded p-button-text p-button-success mr-2"></button>
                  <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times"
                          (click)="onRowEditCancel(item, rowIndex)"
                          class="p-button-rounded p-button-text p-button-danger"></button>
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>

      <!-- Flex container for "Nota do pedido" and "Quem pagou" fields -->
      <div class="flex justify-between mt-10">
        <!-- Note Field -->
        <div class="field">
            <span class="p-float-label">
              <input id="orderNote" pInputText type="text" [(ngModel)]="selectedOrder.orderNote"/>
              <label for="orderNote">Nota do pedido</label>
            </span>
        </div>

        <!-- Note Field -->
        <div class="field">
            <span class="p-float-label">
              <input id="receiverName" pInputText type="text" [(ngModel)]="selectedOrder.receiverName"/>
              <label for="orderNote">Quem vai receber o cash?</label>
            </span>
        </div>

        <!-- "Quem pagou" Field -->
        <div class="field">
            <span class="p-float-label">
              <input id="payerName" pInputText type="text" [(ngModel)]="selectedOrder.payerName"/>
              <label for="payerName">Quem pagou?</label>
            </span>
        </div>
      </div>

    </ng-template>

    <ng-template pTemplate="footer">
      <!-- Button to Delete Order -->
      <button pButton pRipple label="Eliminar Pedido" icon="pi pi-trash mr-1.5" class="p-button-rounded p-button-danger mt-8"
              (click)="onDeleteButtonClick()"></button>

      <!-- Cancel Button -->
      <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>

      <!-- Save Button -->
      <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text"
              (click)="onSaveOrderButtonClick()"></button>
    </ng-template>
  </p-dialog>
</div>
